.hi {
    border: solid 1px black;
    
    position: fixed;
    right: 3%;
    top: 45%;
    background-color: white;
    z-index: 100;

    height: 310px;
    margin-top: -40vh;

    width: 600px;
    margin-left: -300px;
    border-radius: 5px;
    opacity: 0.9;
    cursor: move;
}

.total {
  
    font-size: 2vmin;
}
.item1-order {
    height: 210px;
    border: 1px solid black;
    margin-top: 0;
    overflow: auto;
}